* {
    box-sizing:border-box;
    margin:0;
    
  }
  
  body{
    font-family:arial;
    font-size:13px;
    font-weight:normal;
   
  }
  
  header {
    display:flex;
    flex-direction:column;
    height:40px;
    width:100%; 
    height:127px;
    border-bottom: 1px solid #ebebeb;
    color:#5f6368;
  }
  
  #header-top {
    display:flex;
    flex-direction:row;
    height:50%;
    margin:12px 0px 0px 0px;
  }
  
  #box-header-left {
    display:flex;
    width:10vw;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    
    
   }
  
  #google-img{
    width:92px;
    height:30px;
  }
  
  #box-header-center {
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items:center;
    width:58%;
   }
  
  .search-bar {
      display:flex;
      flex-direction:row;
     justify-content:center;
     height:80px;
       
    }
    
    #container-1{
       display:flex;
      flex-direction:row;
     justify-content:center;
      align-items:center;
     width:692px;
      height:46px;
      border-radius: 24px;
      border:1px solid rgb(223,225,229);
     }
    
    #google-search{
       width:582px;
      height:34px;
      border:0;
    }
    
    #container-1:hover {
      border:0.6px solid rgb(223,225,229);
      box-shadow: 0px 0px 10px 1.5px rgb(223,225,229);
      overflow:50px;
      width:692px;
    }
    
    #container-1:focus-within {
      box-shadow: 0px 0px 10px  rgb(223,225,229);
      overflow:50px;
      width:692px;
    }
    
    input{
        cursor:text;
      }
    
    input:focus {
        outline:none;
    }
    
    
    #searcher{
      display:flex;
      justify-content:center;
      align-items:center;
      width:24px;
      height:24px;
      
      
    }
    
    #voice{
      display:flex;
      justify-content:center;
      align-items:center;
      width:24px;
      height:24px;
      margin:10px;
      cursor:pointer;
      
    }
  
  #box-header-right {
    display:flex;
    justify-content:flex-end;
    flex-direction:row;
    align-items:center;
    width:200px;
    flex:1;
   }
  
  #hamburger{
    margin:-5px;
  }
  
  #circle{
    margin:10px;
  }
  
  #nav-top {
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    width:100%;
    height:50%;
  }
  
  #space-box-1{
    width:13.8%;
    height:100%;
   }
  
  #list-1 {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items:center;
    height:100%;
    margin:0;
    padding:0;
    
  }
  
  #all{
    border-bottom-style:solid;
    border-width:3px;
    border-color:#1A73E8;
    height:98%;
    display:flex;
    align-items:center;
    color:#1A73E8
    
  }
  
  
  
  #list-2 {
    list-style:none;
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    align-items:center;
    height:100%;
    margin:0;
    padding:0;
    width:17%;
    
  }
  
  li{
    padding-right:14px;
    cursor:pointer;
    
  }
  
  i{
    padding-right:5px;
  }
  
  a:link {
    text-decoration:none;
   color:#5f6368;
  }
  
  a:visited{
    text-decoration:none;
  }
  
  a:hover{
    text-decoration:none;}
    
  a:active{
    text-decoration:none;
  }
  
  #tools{
    width:1%;
   
  }
    
    button {
      background-color:transparent;
      border:1px solid transparent;
      padding: 7px 12px 7px 12px;
      border-radius:3px;
      color:#5f6368;
      font-family:arial;
      font-size:13px;
    }
  
  button:hover{
    cursor:pointer;
    background-color:rgb(242,242,242);
    border:1px solid rgb(115 115 115);
  }
  
  
  
  .Site {
    display:flex;
    height:100vh;
    flex-direction:column;
   }
  
  .Site-content {
    display:flex;
    flex-direction:row;
    flex:1;
    color:black;
  }
  
  #results-container {
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
   
  }
  
  h6{
    font-size:14px;
    font-weight:normal;
  }
  
  h5{
    font-size:16px;
    font-weight:normal;
  }
  
  h4{
    font-size:20px;
    font-weight:normal;
  }
  
  .link-main:link {
    color:#1a0dab;
    
  }
  
  .link-main:visited{
    color:#609;
    
  }
  
  .link-main:hover{
    text-decoration:underline;
    
  }
  
  #results{
    margin:8px 0px 0px 0px;
  }
  
  .search-result-1 {
    margin:20px 0px 0px 0px;
    display:flex;
    flex-direction:column;
    width:60%;
    line-height:1.58;
    
  }
  
  .search-result {
    margin:25px 0px 0px 0px;
    display:flex;
    flex-direction:column;
    width:60%;
    line-height:1.58;
    
  }
  
  .search-result-bottom {
    margin:25px 0px 30px 0px;
    display:flex;
    flex-direction:column;
    width:60%;
    line-height:1.58;
  }
  
  #table-main{
    margin:25px 0px 0px 0px;
    border:1px solid #e5e5e5;
    border-radius:10px;
    border-spacing:0;
    width:64%;
  }
  
  #data {
    padding:10px;
    border-bottom:1px solid #e5e5e5;
  }
  
  tr{
    cursor:pointer;
    
  }
  
  .table-bottom{
    padding:10px;
  }
  
  #feedback{
    display:flex;
    justify-content:flex-end;
    width:62%;
    padding:2px;
  }
  
  p{
    font-size:12px;
    color:rgb(112, 117, 122);
    cursor:pointer;
   
  }
  
  p:hover{
    font-size:12px;
    color:rgb(112, 117, 122);
    cursor:pointer;
    text-decoration:underline;
   
  }
  #top-stories{
    margin:25px 0px 0px 0px;
  }
  
  #table-stories{
    margin:10px 0px 0px 0px;
    border:1px solid #e5e5e5;
    border-radius:10px;
    border-spacing:0;
    width:64%;
  }
  
  #set{
    padding:10px;
    
    
  }
  
  #story-row-1 {
    display:flex;
    flex-direction:row;
    border-bottom:1px solid #e5e5e5;
  }
  
  #story-row-2 {
    display:flex;
    flex-direction:row;
  }
  
  #story-img{
    margin:5px 0px 0px 8px;
    border-radius:2px;
  }
  
  .text-story{
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
   
  }
  
  #story-links{
    margin:5px 0px 0px 0px;
  }
  
  #story-links:hover{
    text-decoration:underline;
  }
  
  span{
    display:inline;
    font-size:12px;
    color:rgb(112, 117, 122);
  }
  
  #more-search{
    cursor:pointer;
    color:#1a0dab;
    margin-top:5px;
  }
  
  #more-search:hover{
    cursor:pointer;
    text-decoration:underline;
    
  }
  #h5-inline{
    display:inline;
  }
  
  #related{
    margin:0px 0px 15px 0px;
  }
  
  #searches-container{
    display:flex;
    flex-direction:row;
  }
  
  #searches-list-1 {
    list-style-type:none;
    margin:0;
    padding:0;
    color:#1a0dab;
    line-height:1.58;
  }
  
  #searches-list-2{
    list-style-type:none;
    margin:0;
    padding:0;
    padding-left:20px;
    color:#1a0dab;
    line-height:1.58;
  }
  
  #searches{
    cursor:pointer;
    padding-top:5px;
    font-size:14px;
    
  }
  
  #searches:hover{
    text-decoration:underline;
  }
  
  
  #google-footer{
    display:flex;
    flex-direction:row;
    margin:25px 0px 25px 160px;
    justify-content:flex-start;
    
  }
  
  
  #google-footer-g{
     background-image:url(https://www.google.com/images/nav_logo299.webp);
  background-repeat:no-repeat;
  height: 40px;
  width: 28px;
  background-position: -24px 0;
  }
  
  #google-footer-o-1{
  background-image:url(https://www.google.com/images/nav_logo299.webp);
  background-repeat:no-repeat;
  height: 40px;
  width: 20px;
  background-position: -53px 0;
    
  }
  
  #o-container{
    display:flex;
    flex-direction:column;
    width:20px;
    height:56px;
    justify-content:center;
    align-items:center;
    color:#4285f4;
    cursor:pointer;
    font-size:14px;
    
  }
  
  #o-container:hover{
    text-decoration:underline;
  }
  
  
  #gle-container{
    display:flex;
    flex-direction:column;
    width:82px;
    height:56px;
    justify-content:flex-start;
    color:#4285f4;
    cursor:pointer;
    font-size:14px;
    
  }
  
  #gle-container:hover{
    text-decoration:underline;
  }
  #next{
    align-self:flex-end;
  }
  
  #google-footer-o{
    background-image:url(https://www.google.com/images/nav_logo299.webp);
  background-repeat:no-repeat;
  background-position: -74px 0;
  background-size: 167px;
  width: 20px;
  height:40px;
    
  }
  
  #google-footer-gle{
   background-image:url(https://www.google.com/images/nav_logo299.webp);
  background-repeat:no-repeat;
  height: 40px;
  width: 71px;
  background-position: -96px 0;
  }
  
  footer {
    display:flex;
    flex-direction:column;
    min-height:80px;
    width:100%;
    background-color:#f2f2f2
  }
  
  #box-1 {
    width:100%;
    flex:1;
    height:50%;
    border-top:0.5px solid gray;
    
   }
  
  #UK{
    border-right:0.5px solid gray;
    padding-right:10px;
    font-size:15px;
    color:black;
  }
  
  #internet{
    font-size:14px;
  }
  
  #footer-top{
    margin-top:12px;
    margin-left:170px;
    padding:0;
    
  }
  
  #box-2 {
    width:100%;
    flex:1;
    height:50%;
    border-top:0.5px solid gray;
   }
  
  #footer-list{
    display:flex;
    list-style-type:none;
    margin-top:13px;
    margin-left:170px;
    padding:0;
  }
  
  #list-bottom{
    cursor:pointer;
     font-size:14px;
   color:rgb(112, 117, 122);
  }
  
  
  #list-bottom:hover{
    color:black;
    
  }
  
  #list-location{
    padding-left:10px;
    color:#333;
    font-size:14px;
  }
  #spacer{
    width:13.8%;
    height:100%;
    
  }